<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hiya <%= @user.email %>,</h1>
    <p>
      What'd you do today?<br/>
    </p>
    <p>
      Reply to this email with one line for each task that you completed<br/>
      something like<br/>
      this
    </p>
    <p>See you in the morning!</p>
  </body>
</html>